body {
    background-color: #161616;
}
div {
    float: left;
}
/* HEADER */
#mainheader {
    color: #C0A062;
    float: left;
    width: 100%;
}
#logo {
    position: relative;
    width: 30%;
    
} 
#empty {
    position: relative;
    width: 500px;
    
}
#nav {
   position: relative;
   top: 28px;
   font-family: 'Montserrat', sans-serif;
   font-size: 24px;
   
}
/* NAVIGATION */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #C0A062;
}
/*FOOTER*/
footer { 
    display: block;
}
#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:black;
    color:white;
    clear:both;
    margin: 0;
    text-align:center;
    width: 100%;
}
    
#footerline {
    color: #C0A062;
}
.push {
    height: 10em;
    clear: both;
}
/*MAIN CONTENT*/
#first {
    position: relative;
    top: 120px;
   left: 200px;
   
}
#abouthead {
    font-family: 'Slabo 27px', serif;
   font-size: 80px;
   text-align: center;
   color: #C0A062;
}
#second {
    position: relative;
    top: 600px;
    right: 300px;
    width: 700px;
    height: auto;
    
    font-family: 'Slabo 27px', serif;
    font-size: 35px;
    text-align: left;
    color: grey;
    line-height: 1.3;
}

.textabout {
    color: white; 
    
}
.example {
    font-size: 80px;
    color: white;
}
#about {
    position: relative;
    top: 900px;
    left: 400px;
    color: #C0A062;
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    text-align: center;
    
    
}
#text {
    
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    text-align: left;
    color: grey;
    line-height: 1.3;
    
    width: 700px;
    height: auto;
    position: relative;
    top: 700px;
    left: 550px;
}
#myphoto {
    position: relative;
    top: 1200px;
    right: 400px;
    width: 400px;
    height: 500px;
    background-color: red;
}
#empty2 {
    width: 100%;
    height: 1000px;
}
#work {
     color: #C0A062;
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    text-align: center;
    position: relative;
    left: 500px;
}
#projects {
    font-family: 'Slabo 27px', serif;
    font-size: 50px;
    text-align: left;
    color: grey;
    line-height: 1.3;
    position: relative;
    top: 100px;
    left: 250px;
}
#empty3 {
    width: 100%;
    height: 1000px;
}
#contact {
    color: #C0A062;
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    text-align: center;
    position: relative;
    top: -250px;
    left: 400px;
}
/*FORM*/
input[type=text], select {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

    
}

input[type=submit] {
    width: 100%;
    background-color: #161616;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: grey;
}

#form {
    border-radius: 5px;
    background-color: #C0A062;
    padding: 20px;
    position: relative;
    top: 100px;
    right: 450px;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
#send {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    position: relative;
    right: 420px;
}
#info {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    position: relative;
    right: 100px;
}

#phone {
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    color: white;
    position: relative;
    left: 830px;
    top: -320px;
}
#mail {
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    color: white;
    position: relative;
    left: 520px;
    top: -170px;
}
.icons {
    position: relative;
    top: -40px;
    left: 290px;
}
#face {
    position: relative;
    right: 30px;
    
}
#vk {
    position: relative;
    left: 30px;
}
#textabout {
    list-style-type: none;
    text-decoration: none;
    overflow: hidden;
    color: white;
    
}
#textabout a:link {
     text-decoration: none;
     color: white;
}
#textabout a:visited {
     text-decoration: none;
     color: white;
}
#textabout a:hover {
    color: #C0A062;
     text-decoration: none;
}
