body {
    background-color: #161616;
}
div {
    float: left;
}
/* HEADER */
#mainheader {
    color: #C0A062;
    float: left;
    width: 100%;
}
#logo {
    position: relative;
    width: 30%;
    
} 
#empty {
    position: relative;
    width: 500px;
    
}
#nav {
   position: relative;
   top: 28px;
   font-family: 'Montserrat', sans-serif;
   font-size: 24px;
   
}
/* NAVIGATION */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #C0A062;
}
/*FOOTER*/
footer { 
    display: block;
}
#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:black;
    color:white;
    clear:both;
    margin: 0;
    text-align:center;
    width: 100%;
    
    
}
#footerline {
    color: #C0A062;
}
.push {
    height: 10em;
    clear: both;
}
/*MAIN CONTENT*/
#first {
    position: relative;
    top: 120px;
   left: 200px;
   
}
#about {
    font-family: 'Slabo 27px', serif;
   font-size: 80px;
   text-align: center;
   color: #C0A062;
}
#second {
    position: relative;
    top: 600px;
    right: 300px;
    width: 700px;
    height: auto;
    
    font-family: 'Slabo 27px', serif;
    font-size: 35px;
    text-align: left;
    color: grey;
    line-height: 1.3;
}

.textabout {
    color: white;
    
}
